<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="GSEDM.My.MySettings.SettingsConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Holmes\DB\Settings.mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="GSEDM.My.MySettings.c037ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Holmes\DB\c037.mdb;Persist Security Info=True;Jet OLEDB:Database Password=SPKING168"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>

    <add key="LastOpenEDMtime" value=""/>
    <add key="ShopId" value="c037"/>
    <add key="ShopName" value="總部"/>
    <add key="RptUptTime" value=""/>
    <add key="CustUptTime" value=""/>
    <add key="Mode" value="test"/>
  </appSettings>
  
    <system.diagnostics>
        <sources>
            <!-- 這個區段定義 My.Application.Log 的記錄組態-->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- 取消註解下列區段，以寫入應用程式事件記錄檔-->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- 取消註解下列區段，並將 APPLICATION_NAME 取代成您的應用程式名稱，以寫入至應用程式事件記錄檔-->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
</configuration>
